<div class="container">
  <h2>All Active Contracts</h2>
  <div class="col-lg-4 col-md-4 sm-6 mb-3" *ngFor="let contract of activeContracts">
    <div class="card">
      <p class="card-title"><strong>Property: </strong>{{contract.room.property.firstLineAddress}}</p>
      <p class="card-title"><strong>Tenant: </strong>{{contract.client.firstName}} {{contract.client.lastName}}</p>
      <p class="card-title"><strong>Start Date: </strong>{{contract.dateFrom | date: 'dd/MM/yyyy'}}</p>
      <p class="card-title"><strong>End Date: </strong> {{contract.dateTo | date: 'dd/MM/yyyy'}}</p>
      <p class="card-title"><strong>Monthly Amount: </strong> {{contract.monthlyAmount| currency:'£'}}</p>
      </div>
  </div>
  <h2>All Inactive Contracts</h2>
  <div class="col-lg-4 col-md-4 sm-6 mb-3" *ngFor="let contract of inactiveContracts">
    <div class="card">
      <p class="card-title"><strong>Property: </strong>{{contract.room.property.firstLineAddress}}</p>
      <p class="card-title"><strong>Tenant: </strong>{{contract.client.firstName}} {{contract.client.lastName}}</p>
      <p class="card-title"><strong>Start Date: </strong>{{contract.dateFrom | date: 'dd/MM/yyyy'}}</p>
      <p class="card-title"><strong>End Date: </strong> {{contract.dateTo | date: 'dd/MM/yyyy'}}</p>
      <p class="card-title"><strong>Monthly Amount: </strong> {{contract.monthlyAmount| currency:'£'}}</p>
      </div>
  </div>
</div>