body{
    background-color: #f3f6f9;
    color: rgba(70,90,110,.85);
}

h4{
    font-size: 20pt;
}

.no-margins{
    margin: 0px;
}

.first-container{
    margin-top: 5px;
}

.dark {
    color: rgba(160,180,200,.85);
    background-color: #19222d;
    background-color: #233447;
}

.card{
    box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.02);
}

.primary {
    color: rgba(255,255,255,.85);
    background-color: #53a6fa;
    border: none;
}

.primary-text {
    color: #53a6fa;
}

.navbar-dark .navbar-brand  {
    color: #53a6fa;
}

.info {
    color: rgba(255,255,255,.85); 
    background-color: #14baa8;
}

.success {
    color: rgba(255,255,255,.85);
    background-color: #22b66e;
}

.warning {
    color: rgba(255,255,255,.85);
    background-color: #fdab29;
}

.danger {
    color: rgba(255,255,255,.85);
    background-color: #dc3545;
}

.no-padding{
    padding: 0;
}

.small-padding{
    padding: 10px 25px;
}

.object-img{
    max-width: 150px;
    display: inline-block;
 }


 .btn-green{
    background-color: #aad8cd;
    color: white;
    font-size: 10pt;
    display: inline-block;
    border:0px;
    margin: 5px;
    margin-bottom: 5px;
}

.card-footer{
    background-color: white;
}

.btn-custom-link
{
    color: grey;
    padding: 3px;
    font-size: 10pt;
    display: inline-block;
    width: 300px;
    border: solid #aad8cd;
    border-width: 1px 1px 1px 1px;
    margin: 3px;
    font-size: 10pt;
}

.field-name{
    font-size: 12pt;
    color: #aad8cd;
    margin-bottom: 1pt;
}

.list-photo{
    max-width: 100%; 
    height: auto; 
}


 @media all and (max-width: 500px) {
    .card-title-custom{
        font-size: 10pt;
    }

    .card-text-custom{
        font-size: 9pt;
    }

    .list-photo{
        width: auto; 
        height: 100px; 
        object-fit: cover;
    }

    .field-name{
        font-size: 8pt;
    }

    .btn-green{
        font-size: 10pt;
    }

    .btn-text{
        font-size: 8pt;
        margin-bottom: 0px;
    }


}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
