<div class = 'container'>
<div class='card'>
  <div class='card-header'>
      Properties
  </div>
  <div class='row'>
      <div class='col-md-2'> Filter By</div>
          <div class='col-md-4'>
              <input type='text' 
                  [(ngModel)]='listFilter'/>
          </div>
      </div>
  </div>
</div>      
      <div class="container">
        <div class="card" *ngFor="let property of filteredProperties">
          <div class="row ">
            <div class="col-md-2 col-sm-2 col-4">
                <img src="https://1203179244.rsc.cdn77.org/hd/p/517647/10924875.jpg"  class="list-photo">
              </div>
              <div class="col-md-8 col-sm-8 col-8">
                <div class="card-block">
                  <h4 class="card-title card-title-custom">{{property.firstLineAddress}} </h4>
                  <p class="card-text card-text-custom" *ngIf="property.activeLease == 1">{{property.secondLineAddress}} {{property.landlordId}} - Lease Expires: {{property.lease.dateTo | date: 'dd/MM/yyyy'}}</p> 
                  <p class="card-text card-text-custom" *ngIf="property.activeLease != 1">{{property.secondLineAddress}} {{property.landlordId}} - Not Currently Leased</p>
                  <a [routerLink]="['/properties', property.id]" class="btn btn-primary btn-green">More Info</a>
                  <router-outlet></router-outlet>
                </div>
              </div>
    
            </div>
          </div>
        </div>