<div class="container">
  <div class="card">
      <div class="text-center mb-5" *ngIf="loading">
          <i class="fa fa-spinner fa-spin center-block" style="font-size:24px"></i>
        </div>
    <h5 *ngIf="client">Upload File for Client - {{client.firstName}}</h5>
    <input #file type="file" multiple (change)="upload(file.files, path, imgPath, id)" />
    <br/>
    <div class="holder">
      <img *ngIf="imgPath" [src]='imgPath' style="max-width: 500px; max-height: 500px;">     
   </div>
</div>

