<div class="container">   
  <div class="card flex-row flex-wrap" *ngIf="client">
      <div class="card-header border-0">
    <img class="client-image" src="{{client.imagePath}}" alt="Card image cap">
    </div>
        <div class="card-block px-2">
              <p class="card-title field-name">Client Name</p>
              <div class="card-title">{{client.firstName}} {{client.lastName}}</div>
                <p class="card-title field-name">Phone</p>
                <p class="card-text"> {{client.phone}}</p>
                <p class="card-title field-name">Email</p>
                <p class="card-text"> {{client.email}}</p>
                <a [routerLink]="['/addClientPhoto', client.id]" class="btn btn-green">Add / Update Client Image</a>
                <a [routerLink]="['/updateClient', client.id]" class="btn btn-green">Update Client Details</a>
                <a *ngIf="client.clientTypeId === 1" [routerLink]="['/addContract/', client.id]" class="btn btn-green">Add Contract For {{client.firstName}}</a>
            </div>
          </div>
          <div *ngIf="client">
              <div *ngIf="client.clientTypeId === 2">Properties Owned
                <a class="rounded btn-custom-link" *ngFor="let property of properties" [routerLink]="['/properties', property.id]">{{property.firstLineAddress}}</a>
              </div>
              <div *ngIf="activeContract">Contract Information           
                  <p class="card-title field-name">Contract Start Date</p>
                  <p class="card-text"> {{activeContract.dateFrom | date: 'dd/MM/yyyy'}}</p>
                </div>
              </div>


  </div>