<head>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<div class="container">
  <div class="card" *ngIf="room">
    <div class="row ">
      <div class="col-md-2">
          <img src="https://1203179244.rsc.cdn77.org/hd/p/517647/10924875.jpg"  style="max-width: 100%; height: auto; margin-bottom: 5px;">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title"> {{room.roomName}}</h4>
            <div *ngIf="contract">
            <p class="card-text"><a [routerLink]="['/clients', contract.clientId]"> {{contract.client.firstName}} {{contract.client.lastName}}</a> </p>
            <p class="card-text">Contract Finishes on {{contract.dateTo | date: 'dd/MM/yyyy'}}  </p>
            <p class="card-text">Monthly Rent {{contract.monthlyAmount | currency:'GBP'}}  </p>
          </div>
          </div>

        </div>

      </div>
    </div>
   
