<div class="container" *ngIf="authService.isAuthenticated()">
  <button routerLink="/clients" class="btn-primary rounded fontawesome-button "><i class="far fa-user fa-7x"></i><br><p class="button-font">Clients</p></button>
  <button routerLink="/properties" class="btn-primary rounded fontawesome-button"><i class="fas fa-home fa-7x"></i><br><p class="button-font">Properties</p></button>
  <button routerLink="/payments" class="btn-primary rounded fontawesome-button"><i class="fas fa-pound-sign fa-7x"></i><br><p class="button-font">Payments</p></button>
  <button routerLink="/addUser" class="btn-primary rounded fontawesome-button"><i class="fas fa-user-plus fa-7x"></i><br><p class="button-font">Add Client</p></button>
  <button routerLink="/addProperty" class="btn-primary rounded fontawesome-button"><i class="fas fa-plus fa-7x"></i><br><p class="button-font">Add Property</p></button>
  <button class="btn-primary rounded fontawesome-button"><i class="far fa-flag fa-7x"></i><br><p class="button-font">Notifications</p></button>
</div>
