<div class="container" *ngIf="authService.isAuthenticated()">
    <div class="container first-container">
        <div class="row mb-5">
          <div class="col-sm-3">
              <div class="card" routerLink="/clients" style="width: 18rem;">
                  <img class="card-img-top icon" src="../../assets/icons/user.png" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-text text-center">Clients</h3>
                  </div>
                </div>
          </div>
          <div class="col-sm-3">
              <div class="card" routerLink="/properties" style="width: 18rem;">
                  <img class="card-img-top icon" src="../../assets/icons/house.png" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-text text-center">Properties</h3>
                  </div>
                </div>

        </div>
        <div class="col-sm-3">
            <div class="card" routerLink="/payments" style="width: 18rem;">
                <img class="card-img-top icon" src="../../assets/icons/payment.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text text-center">Payments</h3>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" routerLink="/notifications" style="width: 18rem;">
              <span class="notify-badge" *ngIf="unreadNotifications">{{unreadNotifications.length}}</span>
                <img class="card-img-top icon" src="../../assets/icons/notification.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text text-center">Notifications</h3>
                </div>
              </div>
        </div>
        </div>
</div>
